<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action='/todos/bye' method="GET">
        <input name="newtask">

        <input type="submit">

    </form>
    <form action="/todos" method="POST">
     <input name="newtask">

        <input type="submit">
    </form>
    <ul>
        {{#each todo as |to|}}
        <li>{{to.task}}</li>
        {{/each}}
    </ul>
    
</body>
</html>