#id1{
    background-color: lightgreen;
}
div{
    background-color: lightseagreen;
}
*{
    background-color: lightcyan;
}
.cl1{
    background-color: lightcoral;
}
#id1{
    background-color: lightsteelblue;
}